@charset "utf-8";

img {
  max-width: 100%;
  height: auto;
  }

h2.sub-title {
  font-family: "Jua", sans-serif;
  font-size: 38px;
  font-weight: normal;
  text-align: center;
  text-shadow: 2px 2px 2px #00000070;

  padding: 20px;
  border-radius: 20px;
  background: url(../images/titbg4.jpg)
    no-repeat center/cover;

  box-shadow: inset 0 0 10px #3f48bda2,
    0 0 20px 10px #5147ad8a;
}

/* 정치뉴스 */
h2.politics {
  background-image: url(../images/titbg1.jpg);
  color: rgb(39, 38, 38);
}

/* 경제뉴스 */
h2.economics {
  background-image: url(../images/titbg2.jpg);

  color: rgb(216, 216, 56);
}

/* 사회뉴스 */
h2.social {
  background-image: url(../images/titbg3.jpg);

  color: rgb(235, 156, 53);
}

/* IT/과학 뉴스 */
h2.it {
  background-image: url(../images/titbg4.jpg);

  color: darkblue;
}

/* TV/연예 뉴스 */
h2.tv {
  background-image: url(../images/titbg5.jpg);

  color: wheat;
}
/* 2-2. 언론사로고 */
.press-logo img {
  height: 32px;
}
/* 2-3. 기사제목 */
.article-title {
  font-size: 30px;
  color: #1e1e23;
}
/* 2-4. 기사사진 */
.article-picture {
  margin: 0;
}
/* 기사이미지 */
.article-picture img {
  width: 100%;
}

/* 2-5. 기사내용 */
.contents p {
  margin: 0;
  margin-bottom: 25px;

  font-size: 20px;
  line-height: 1.6;

  color: #303038;
}

/* 중요글자 */
.contents p strong {
  color: darkmagenta;
}
/* 강조글자 */
.contents p em {
  color: lightseagreen;
  text-shadow: 2px 2px 2px #00000080;
  text-decoration: underline wavy;
}

/* 공통 보더박스 디자인 : .bd-box */
.bd-box {
  border-top: 2px dashed gray;
  border-bottom: 2px dashed gray;
  margin: 20px 0;
  padding: 15px 0;
}
/* 타이틀 */
.bd-box h4 {
  display: inline-block;
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 10px #858484;
}

/* 2-5.5 인용블록영역 */
.quote-box blockquote {
  margin: 0;
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
  word-break: break-all;
  text-indent: 15px;
}

/* 이미지 오른쪽으로 보내고 옆에 글자 흘러가기 */
.quote-box blockquote img {
  float: right;
  text-indent: 15px;
  margin-top: 10px;
  border-radius: 10px;
  width: 120px;
}

/* 2-6. 기자정보 */
.reporter {
  font-size: 20px;
  padding: 15px 0;
}
/* 2-7. 기사원문 */
.article-link {
  text-align: right;
}
.article-link a {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;

  border: 2px solid darkcyan;

  /* a요소 기본 디자인 변경 */
  text-decoration: none;

  border-radius: 50%;
  background-color: lightcyan;
  color: darkcyan;
  font-size: 20px;
  font-weight: bold;
}
/* 기사원문 오버시 변경 
*/
.article-link a:hover {
  background-color: #2d5399;
  color: #ffffff;
  box-shadow: 0 0 2px 2px #3b7780;
}

/* 2-8.주해영역 */
/* 2-9.오늘의 작품 & 느낌 */
.work {
  /* 전체 정렬 중앙 : tac */
  text-align: center;
  font-family: "Gugi", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  color: #2b2929;
  padding: 15px;
  box-shadow: inset 0 0 10px 8px
    #38363685;

  /* 배경색 그라데이션 */
  background: linear-gradient(
    304deg,
    #27777f,
    #2c77a570,
    #47d78f
  );
}
/* 이미지박스  */
.work figure {
  margin: 0;
  padding: 15px 0;
}
/* 작품 이미지 */
.work img {
  border: 7px ridge goldenrod;
}
/* 글자설정 */
.work figcaption {
  font-size: 20px;
  font-family: "Gugi", sans-serif;
  color: #2b2929;
  font-weight: bold;
}
/* 작품명만 따로 디자인*/
.work figcaption cite {
  color: darkcyan;
  font-style: normal;
}
/* 뉴스파트 공통 클래스 : .news-box */
.news-box {
  border-top: 2px dashed #ccc;
  padding: 20px 0;
  margin: 20px;
}
/* 뉴스 타이틀 공통 */
.news-box h3 {
  font-family: "Jua", sans-serif;
  font-weight: normal;
  font-size: 30px;
  background: linear-gradient(
    to right,
    #3d9699,
    transparent
  );
  padding: 10px;
}
.news-box a {
  font-size: 17px;
  line-height: 2.5;
  color: #222;
  text-decoration: none;

  /* 한줄 말줄임 셋팅 */
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
/* 공통 a요소 오버시 
가상클래스(:hover) */
.news-box a:hover {
  color: #59aa66;
  text-shadow: 1px 1px 1px #54c550;
}

/* 뉴스파트 공통 초기화하기 */
.news-box ul,
.news-box ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news-box ol {
  list-style: decimal;
  padding-left: 20px;
}

.news-box dl,
.news-box dl dd {
  margin: 0;
}

.main-box a::before {
  content: "🍿";
  margin-right: 5px;
  font-size: 20px;
}
.main-box a::after {
  content: "🍯";
  width: 15px;
}

.main-box li:first-child a {
  color: red;
}
.main-box li:last-child a {
  color: blue;
}
.main-box li:nth-child(2) a {
  color: chocolate;
}

/* 분야별 뉴스 */
.sec-news dt {
  font-size: 25px;
  font-family: "Gugi", sans-serif;
  border: 4px dashed rgb(98, 136, 172);
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
}

/* 경제파트 */
.sec-news dt:first-of-type {
  color: rgb(230, 24, 24);
  background-color: rgba(
    233,
    138,
    138,
    0.486
  );
  border-color: #f50d2075;
}

/* 사회파트 */
.sec-news dt:last-of-type {
  color: rgb(10, 25, 245);
  background-color: rgba(
    86,
    104,
    204,
    0.486
  );
  border-color: #8389dd75;
}

/* TV/연예파트 */
.sec-news dt:nth-of-type(2) {
  padding: 10px;
  color: rgb(243, 97, 0);
  background-color: rgba(
    248,
    186,
    105,
    0.486
  );
  border-color: #cfad8675;
}

.sec-news dd + dt {
  margin-top: 20px;
}

/* 사진뉴스 테이블 */
.photo-news table {
  max-width: 500px;

  border-collapse: collapse;

  /* 테두리 */
  border: 2px solid #ccc;

  margin: 0 auto;
}

/* 첫번쨰 td : 숫자데이터 부분 */
.photo-news td:first-child {
  width: 50px;
  height: 84px;
  text-align: center;
  background-color: #ccc;
}

/* 두번째 td : 기사제목링크 부분 */
.photo-news td:nth-child(2) {
  background-color: #e4e4e4;
  padding: 0 20px;
}

/* 세번째 td: 사진링크 부분 */
.photo-news td:last-child {
  background-color: #e4e4e4;
}

/* 사진뉴스 a요소 셋팅 */
.photo-news a {
  white-space: normal;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 사진뉴스 이미지 */
.photo-news img {
  width: 100px;
  height: 70px;
  vertical-align: middle;
}
/* 사이구분선 : 두번째 tr부터 */
.photo-news tr + tr td {
  border-top: 2px solid #ccc;
}

/* 비디오 박스 */
.mv-box iframe {
  width: 100%;
  height: 392px;
}
/* mark 태그 디자인 변경 */
.contents mark {
  font-family: "Jua", sans-serif;
  font-size: 26px;
  color: #3cb;
  line-height: 1.1;
  background-color: #ffe4b6;
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 30px 67px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  box-sizing: border-box;
}
/* strong요소 디자인 변경 */
.contents strong {
  font-style: normal;
  color: darkmagenta;
  font-weight: bold;
  text-shadow: 2px 2px 2px #0b88db;
}
