// 헤더, 푸터 //
@import url(./inc.css);
// 리셋 //
@import url(./reset.css);
// 폰트 //
@import url(./variables.css);

// 메인영역 //
.s-main-area{
    font-family: var(--font-main);
    height: auto;
.background-box {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.spin-area{
    h1{
        color: #fff;
        font-size: 100px;
        display: block;
        
    }
}
}