@charset "utf-8";

:root {
  /* 폰트체 */
  --font-main: "Orbitron", serif;
}

/* 폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900

.orbitron-<uniquifier> {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */