@charset "utf-8";

/* 레이아웃 3 CSS */

/* 외부 CSS 불러오기 */
/* 12그리드 flex CSS */
@import url(./grid_12_flex.css);
/* 리셋 CSS */
@import url(./reset.css);
/* 상단영역 CSS */
@import url(./common.css);
/* Core CSS */
@import url(./core.css);

/* 초기화 */
html,body,h1,h2,ul,ol{
    margin: 0;
    padding: 0;
}

/* 공사중표시 */
body * {
    outline: 2px dashed red;
}

/* 공통클래스 */
/* 중앙속박스 */
.inbox{
    /* 최대가로크기 */
    max-width: 2000px;
    /* 블록박스 중앙정렬 -> 마.영.오! */
    margin: 0 auto;
}
/* 임시 타이틀 */
.temp-tit{
    position: absolute;   
    color: #888; 
}

/************* 3.컨텐츠영역 *************/
.page{
    /* 영역별로 모두 보이는 화면 높이 설정 */
    /* 선생님 피드백 : 페이지당 100vh가 넘어가기때문에
    추후 레이아웃 변경 필요. */
    height: 100vh;
    outline: 1px dashed gray;
}
/* 임시타이틀 */
.page .temp-tit{
    font-size: 4vw;
    line-height: 100vh;
    width: 100%;
    text-align: center;
}
/************* 4.하단영역 *************/
.footer-area{
    height: 100px;
}