@charset "utf-8";

/* 개인인 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

body.on::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #64583282;
  z-index: 99;
  transition: 0.4s ease-in-out;
  /* 페이드인 트랜지션 질문 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

/************* 1.상단영역 *************/
/* 상단영역 공통 페이드 박스 */

.top-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
}
.top-area.inbox {
  width: 100vw;
}
/* 상단탑영역 a태그 */
.top-area a {
  font-family: var(--font-menu);
  color: #fff;
  font-size: 2.4rem;
  transition: color 0.4s ease-in-out;
}

.shopbtn:hover,
.bagbtn:hover {
  color: #645832;
}

/* 1-1. 햄버거,SHOP버튼 영역 */
.hamShop-box {
  display: flex;
  gap: 42px;
  flex-direction: column;
  height: 9vh;
  justify-content: center;
  align-items: center;
}

.left-menu {
  font-size: 1.3rem;
  /* row사이간격 */
  gap: 42px;
  /* 세로진행방향 */
  flex-direction: column;
  /* 진행방향 정렬 */
  justify-content: flex-end;
  /* 진행방향수직 정렬 */
  align-items: flex-end;
}
.left-menu ul {
  gap: 3.8rem;
}

/* 햄버거 부모박스 */
.hambtn {
  filter: drop-shadow(1px 1px 1px black);
  position: relative;
  display: block;
  width: 32px;
  height: 20px;
  scale: 1.4;
  transform-origin: left top;
}

/* 1-1-1. 햄버거 바 */
.hambtn span {
  position: absolute;
  /* 애니메이션시 변경할 초기값 필요! */
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-radius: 25px;
}
.hambtn span:nth-child(1) {
  top: 0;
  transition: top 0.3s ease-out 0.3s, rotate 0.3s ease-out;
}
.hambtn span:nth-child(2) {
  top: 40%;
  transition: 0.1s 0.3s;
}
.hambtn span:nth-child(3) {
  top: 80%;
  transition: top 0.3s ease-out 0.3s, rotate 0.3s ease-out;
}
/* 클래스 on */
.hambtn.on span:nth-child(1) {
  top: 40%;
  rotate: 45deg;
  transition: top 0.3s ease-out, rotate 0.3s ease-out 0.3s;
}
.hambtn.on span:nth-child(2) {
  left: 50%;
  width: 0;
}
.hambtn.on span:nth-child(3) {
  top: 40%;
  rotate: -45deg;
  transition: top 0.3s ease-out, rotate 0.3s ease-out 0.3s;
}
.shopbtn {
  text-shadow: 1px 1px 1px black;
}
/* 장바구니 서브메뉴 */
.minicart {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  translate: 100%;
  transition: translate 0.6s ease-out;
  /* display: none; */
}
.minicart-box {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 50vw;
  background-color: #ebe6d7;
}
.minicart span:nth-child(1) {
  font-size: 2.5rem;
  color: #1f1f1f;
  font-family: var(--font-menu);
  letter-spacing: 2px;
  font-weight: 500;
  font-weight: 600;
  position: absolute;
  top: 13%;
  left: 13rem;
  translate: -50% -50%;
}
.minicart span:nth-child(2) {
  font-size: 3.5rem;
  color: #1f1f1f;
  font-family: var(--font-title);
  letter-spacing: -2.5px;
  font-weight: 600;
  position: absolute;
  width: 32vw;
  text-align: center;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
}
.minicart span:nth-child(3) {
  font-size: 2rem;
  color: #1f1f1f;
  font-family: var(--font-menu);
  font-weight: 400;
  line-height: 5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22vw;
  text-align: center;
  translate: -50% -50%;
  background-color: #645832;
  color: #ebe6d7;
  border-radius: 5px;
}

/* 서브메뉴 */

aside .smenu {
  position: absolute;
  margin-top: 60px;
  translate: 0 -220%;
  left: 0;
  width: 100%;
  height: 35vw;
  background-color: #ebe6d7;
  overflow: hidden;
  background: #ebe6d7 url(../images/Ld_img4.png) no-repeat right/40%;
  transition: translate 0.6s ease-in-out;
}
.smenu .inbox {
  display: flex;
  padding: 8vw 3vw;
  box-sizing: border-box;
  gap: 3vw;
}
.smenu dt {
  font-family: var(--font-title);
  font-size: 2.5vw;
  margin-top: 10px;
  margin-bottom: 3vh;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.2vw;
  transform: scaleY(2);
}
.smenu dl {
  margin-top: -4vh;
  padding: 2vw 2.5vw;
  font-size: 0.2rem;
  letter-spacing: 0.5rem;
}
.smenu dd {
  padding: 0px 0px 10px;
  letter-spacing: 1px;
  font-weight: 350;
}

/* 밑줄 애니메이션 */
/* 주의 : dt와 dd는 형제! */
/* 밑줄 애니메이션 위해 부모자격 부여! */
.uline a {
  position: relative;
}
.uline a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 0.5px;
  opacity: 0.5;
  margin-left: 100%;
  background-color: #645832;
  transition: 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  font-weight: 400;
}

.uline.color2 a::after {
  background-color: #fff;
}

/* 호버를 쓸 때는 가상요소에다가 주면 안되고,
호버를 하는 대상에다가 주고 가상요소를 주어야 함. */

.uline a:hover::after {
  width: 100%;
  margin-left: 0;
  transition: width 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}

.smenu dd a {
  /* text-shadow: 0 0 3px #00000049; */
  color: #645832;
  font-size: 1.5vw;
}

/* 1-1-2. Shop 버튼 */
.shopbtn {
  font-size: 1.6rem;
}

/* 1-2. 로고영역 */
.logo-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.center-menu,
.logo-box aside {
  width: 100%;
  height: 100%;
}
.center-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-btn {
  /* position: relative;
  top: 50%;
  translate: 0 -50%; */
  display: block;
  margin: 0 auto;
  width: 120px;
}
/* 1-3. 장바구니버튼 영역 */
.right-menu .fx-box {
  gap: 10px;
  align-items: center;
}
.bagbtn {
  text-shadow: 1px 1px 1px black;
}
.bagbtn li {
  display: flex;
}
.bag-box {
  font-size: 1.8rem;
  display: flex;
  gap: 42px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.bagNbtn {
  background-color: #645832;
  border-radius: 50%;
  font-size: 1.6rem;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
}
.bagNbtn:hover {
  background-color: #fff;
  color: #645832;
  transition: 0.35s ease-in-out;
}

/**************** 2. 하단영역 ****************/
.footer-area {
  height: 85vh;
}
footer {
  background-color: #645832;
}
.footSpaceBox {
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid #d1c7a3;
}
.footcatBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #d1c7a3;
  overflow: hidden;
  /* 2번째 카테고리 부모박스 */
  position: relative;
}
.footcatBox > div {
  flex: 1;
  padding: 3vh 2vh 0vh 5vh;
}
.footFirst {
  border-right: 1px solid #d1c7a3;
  /* 세부 카테고리 부모박스 */
  position: relative;
}
.footSecond {
  border-right: 1px solid #d1c7a3;
}
.footThird {
  border-right: 1px solid #d1c7a3;
}
.footForth {
  border-right: 1px solid #d1c7a3;
}
.footcatInbox {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  gap: 1vh;
  color: #ebe6d7;
  font-family: var(--font-menu);
}
.footCatTit {
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 0.3vw;
}
.footcatInbox a {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.6;
  color: #ebe6d7;
}
.footcatInbox a:nth-child(1) {
  font-weight: 300;
}
/* 하단 로고 */
.footlogo-btn {
  overflow: hidden;
  height: 40vh;
  padding: 0px 5vw;
  display: flex;
}
/* 카피라이트 */
.copyright {
  display: flex;
  justify-content: space-between;
  color: rgb(235, 230, 215);
  padding: 0px 8.5rem;
  align-items: center;
  height: 7vh;
  border-top: 1px solid #d1c7a3;
  border-bottom: 1px solid #d1c7a3;
  font-weight: 30;
}
