@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1.상단영역 *************/
.top-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* background: rgba(255, 255, 255, 0.5); */
  /* box-shadow: 0 5px 5px #00000076; */
  width: 100%;
  height: 130px;
}

/* 상단탑영역 스타일 2 
햄버거버튼 클릭시 , 일정 영역 스크롤 다운시 적용예정
애니메이션 어떻게 할건지 정해야 함
 header{
  background-color: #ebe6d7;
  color: #1f1f1f;
  border-bottom: 1.5px solid #d1c7a3;
????? 질문 : SVG 색깔은 어떻게 바꾸는지 ????????????????????????????
  } */
  
  /* 상단탑영역 스타일 3 
  일정 영역 스크롤 다운시 적용예정
  header{
    background-color: #645832
    color: #1f1f1f;
    border-bottom: 1.5px solid #d1c7a3;
}
*/

/* 상단탑영역 a태그 */
.top-area a {
  font-family: var(--font-menu);
  color: #fff;
  font-size: 3rem;
  transition: color 0.4s ease-in-out;
}

.shopbtn:hover,
.bagbtn:hover {
  color: #645832;
}

/* 1-1. 햄버거,SHOP버튼 영역 */
.hamShop-box {
  display: flex;
  gap: 42px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.left-menu {
  font-size: 1.3rem;
  /* row사이간격 */
  gap: 42px;
  /* 세로진행방향 */
  flex-direction: column;
  /* 진행방향 정렬 */
  justify-content: flex-end;
  /* 진행방향수직 정렬 */
  align-items: flex-end;
}
.left-menu ul {
  gap: 3.8rem;
}

/* 햄버거 부모박스 */
.hambtn {
  position: relative;
  display: block;
  width: 32px;
  height: 20px;
  scale: 1.4;
  transform-origin: left top;
}

/* 1-1-1. 햄버거 바 */
.hambtn span {
  position: absolute;
  /* 애니메이션시 변경할 초기값 필요! */
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-radius: 25px;
}
.hambtn span:nth-child(1) {
  top: 0;
  transition: top 0.3s ease-out 0.3s, rotate 0.3s ease-out;
}
.hambtn span:nth-child(2) {
  top: 40%;
  transition: 0.1s 0.3s;
}
.hambtn span:nth-child(3) {
  top: 80%;
  transition: top 0.3s ease-out 0.3s, rotate 0.3s ease-out;
}
/* 클래스 on */
.hambtn.on span:nth-child(1) {
  top: 40%;
  rotate: 45deg;
  transition: top 0.3s ease-out, rotate 0.3s ease-out 0.3s;
}
.hambtn.on span:nth-child(2) {
  left: 50%;
  width: 0;
}
.hambtn.on span:nth-child(3) {
  top: 40%;
  rotate: -45deg;
  transition: top 0.3s ease-out, rotate 0.3s ease-out 0.3s;
}
/* 장바구니 서브메뉴 */
.minicart{
  z-index: 1;
  position: fixed;
  background-color: orange;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100vh;
}
.minicart-box{
overflow: hidden;
height: 10vh;
width: 70.4rem;
}

/* 서브메뉴 */
aside .smenu {
  position: absolute;
  margin-top: 79px;
  left: 0;
  width: 100%;
  height: 35vw;
  background-color: #ebe6d7;
  overflow: hidden;
  background: #ebe6d7 url(../images/Ld_img4.png) no-repeat right/40%;
  display: none;
}
.smenu .inbox {
  display: flex;
  padding: 8rem;
  box-sizing: border-box;
}
/* 햄버거 버튼 클릭시 스타일 1 
.smenu .inbox {
 border-top 2px solid #d1c7a3;
}
.top-area>.top-area .inbox {
  background-color: #ebe6d7;
  color: black;
}


*/
.smenu dt {
  font-family: var(--font-title);
  font-size: 6rem;
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 700;
  font-style: normal;
  /* 자간 설정 */
  letter-spacing: -0.6rem;
}
.smenu dl {
  padding: 2vw;
  font-size: 2.2rem;
  /* 밑줄 애니메이션 위해 부모자격 부여 */
  position: relative;
  letter-spacing: .5rem;
}
.smenu dd {
  padding: 0px 0px 10px;
}







/* 밑줄 애니메이션 가상요소 */
.smenu dl > dt > dd > a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.2s ease-out;
}

/* 왜 안되는지 잘 모르겠습니다 ........ */
.smenu dd > a::after:hover {
  width: 100%;
  transition-delay: .4s;
}






.smenu dd a {
  /* text-shadow: 0 0 3px #00000049; */
  color: #645832;
  font-size: 2.5rem;
}
/* 1-1-2. Shop 버튼 */
.shopbtn {
  font-size: 1.6rem;
}

/* 1-2. 로고영역 */
.logo-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.center-menu,
.logo-box aside {
  width: 100%;
  height: 100%;
}
.center-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-btn {
  /* position: relative;
  top: 50%;
  translate: 0 -50%; */
  display: block;
  margin: 0 auto;
  width: 120px;
}
/* 1-3. 장바구니버튼 영역 */
.right-menu .fx-box {
  gap: 10px;
  align-items: center;
}
.bagbtn li {
  display: flex;
}
.bag-box {
  font-size: 1.8rem;
  display: flex;
  gap: 42px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.bagNbtn {
  background-color: #645832;
  border-radius: 100%;
  font-size: 1.6rem;
  display: block;
  width: 3.5rem;
  text-align: center;
}
.bagNbtn:hover {
  background-color: #fff;
  color: #645832;
  transition: 0.35s ease-in-out;
}

/**************** 2. 하단영역 ****************/
.footer-area {
  height: 320px;
}
