@charset "utf-8";

/* 레이아웃 3 CSS */

/* 외부 CSS 불러오기 */
/* 변수셋팅 CSS */
@import url(./variables.css);
/* 12그리드 flex CSS */
@import url(./grid_12_flex.css);
/* 리셋 CSS */
@import url(./reset.css);
/* 상단영역 CSS */
@import url(./common.css);
/* Core CSS */
@import url(./core.css);

/* 초기화 */
html,body,h1,h2,ul,ol{
    margin: 0;
    padding: 0;
}

/* 공사중표시 */
.ing * {
    outline: 1px dashed orange;
}

/* 공통클래스 */
/* 중앙속박스 */
.inbox{
    /* 블록박스 중앙정렬 -> 마.영.오! */
    margin: 0 auto;
}
/* 임시 타이틀 */
.temp-tit{
    position: absolute;   
    color: #888; 
}

/************* 컨텐츠영역 *************/
.page{
    /* 영역별로 모두 보이는 화면 높이 설정 */
    /* 선생님 피드백 : 페이지당 100vh가 넘어가기때문에
    추후 레이아웃 변경 필요. */
    height: 100vh;
    outline: 1px dashed gray;
}
/* 임시타이틀 */
.page .temp-tit{
    font-size: 4vw;
    line-height: 100vh;
    width: 100%;
    text-align: center;
}
/************* 1. 배너영역 *************/
.ban-area {
    height: 300px;
  }
  .main-video {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }
  .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 9;
    width: 59vw;
    display: flex;
    gap: 1.8vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--font-title);
    font-size: min(10rem, 6vw);
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1.4rem;
  }

/* SHOP ALL 버튼 */
.shopAbtn{
    position: absolute;
    top: 68%;
    left: 50%;
    translate: -50% -50%;
    z-index: 9;
    width: 8vw;
    height: 3.5vh;
    color: #1f1f1f;
    background-color: #ebe6d7;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}
.shopAbtn:hover{
    background-color: #645832;
    color: #ebe6d7;
}

/****************2. About us 영역  *****************/
.imgbox{
    width: 100%;
    height: 100%;
    background-color:#ebe6d7;
    /* 이미지 부모박스 */
    position: relative;
}
.imgbox img:nth-child(1){
    position: absolute;
    height: 25vh;
    left: 4rem;
    top: 15rem;
    width: 23rem;
    object-fit: cover;
}
.imgbox img:nth-child(2){
    position: absolute;
    height: 35vh;
    right: 57rem;
    top: 1rem;
    width: 33rem;
    object-fit: cover;
}
.imgbox img:nth-child(3){
    position: absolute;
    height: 18vh;
    right: 20rem;
    top: 20rem;
    width: 17rem;
    object-fit: cover;
}
.imgbox img:nth-child(4){
    position: absolute;
    height: 39vh;
    left: 1rem;
    top: 44rem;
    width: 41rem;
    object-fit: cover;
}
.imgbox img:nth-child(5){
    position: absolute;
    height: 30vh;
    right: 0;
    top: 39rem;
    width: 20rem;
    object-fit: cover;
}
.imgbox img:nth-child(6){
    position: absolute;
    height: 39vh;
    left: 78rem;
    top: 55rem;
    width: 35rem;
    object-fit: cover;
}