@charset "utf-8";


@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
    .recom-box{
        height: auto;
    }
    .main-text{
        font-size: 6vw;
        letter-spacing: -2px;
    }
    .recommendBox {
       flex-direction: column;
       height: auto;
    }
    .recommendBox>div{
      width: 100%;
    }
}