@charset "utf-8";

/* 외부 CSS 불러오기 */
/* 변수셋팅 CSS */
@import url(./variables.css);
/* 리셋 CSS */
@import url(./reset.css);
/* 상단영역 공통 CSS */
@import url(./common.css);
/* Core CSS */
@import url(./core.css);

/* .topBdbox{
    position: fixed;
    border-bottom: 1px solid #d1c7a3;
    opacity: 0.5;
    width: 100%;
    height: 9vh;
    z-index: 999;
} */
.lookbookPage {
  height: auto;
}
#cont-area {
  width: 100%;
  height: 100%;
  background-color: #ebe6d7;
}
.lb.cont-box {
  height: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0px 4%;
}
/* 룩북 이미지 공통 */
.lookbookInbox a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease-out;
}
.lookbookInbox a img:hover {
  scale: 1.05;
}
.lookbookInbox {
  height: 200vh;
}
.lookBox1 {
  translate: 10.6vw 24vh;
  width: min(321px, 25.9vw);
  height: auto;
  display: block;
  overflow: hidden;
}
.lookBox1 img {
  width: min(321px, 25.9vw);
  object-fit: cover;
}
.lookBox2 {
  width: min(310px, 25vw);
  translate: 42vw 12vh;
  height: auto;
  display: block;
  overflow: hidden;
}
.lookBox2 img {
  width: min(310px, 25vw);
  object-fit: cover;
}
.lookBox3 {
  width: min(280px, 23.3vw);
  translate: 74vw -29vh;
  height: auto;
  display: block;
  overflow: hidden;
}
.lookBox3 img {
  width: min(280px, 23.3vw);
  object-fit: cover;
}
.lookBox4 {
  width: min(334px, 27.8vw);
  translate: 7vw -21vh;
  height: auto;
  display: block;
  overflow: hidden;
}
.lookBox4 img {
  width: min(334px, 27.8vw);
  object-fit: cover;
}
.lookBox5 {
  width: min(329px, 27.3vw);
  translate: 39vw -20vh;
  height: auto;
  display: block;
  overflow: hidden;
}
.lookBox4 img {
  width: min(329px, 27.3vw);
  object-fit: cover;
}

.lookBox6 {
  width: min(314px, 26vw);
  translate: 69vw -84vh;
  height: auto;
  display: block;
  overflow: hidden;
}
.lookBox4 img {
  width: min(314px, 26vw);
  object-fit: cover;
}

.lookBox7 {
  width: min(263px, 37vw);
  translate: 11vw -55vh;
  height: auto;
  display: block;
  overflow: hidden;
}
.lookBox4 img {
  width: min(263px, 37vw);
  object-fit: cover;
}
.lookBox8 {
  width: min(318px, 37vw);
  translate: 68vw -85vh;
  height: auto;
  display: block;
  overflow: hidden;
}
.lookBox4 img {
  width: min(318px, 37vw);
  object-fit: cover;
}
